Repository shareYourProject/front-end, pull requests merged in 2021-05, with the labels that each got.

#17 Feature/#8 create follow system
  package-lock.json
  src/api.ts
  src/assets/style/components/_button.scss
  src/components/buttons/ProjectFollowButton.vue
  src/components/buttons/UserFollowButton.vue
  src/models.ts
  src/views/project/ProjectView.vue
  src/views/user/ProfileView.vue
Labels: UI, api, enhancement, vue-script

#18 Feature/#4 personnal menu
  src/components/navigation/PersonalMenu.vue
  src/components/navigation/TheNarBar.vue
Labels: enhancement, vue-script

#19 Feature/#6 custominput url validation
  src/components/inputs/CustomInput.vue
  src/views/user/settings/ProfileSettingsView.vue
Labels: enhancement, vue-script

#21 Add missing buttons
  src/components/navigation/TheNarBar.vue
Labels: bug, vue-script
